<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EAT-DA-BURGER</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    {{{ body }}}
</body>

<script>
    $(function () {
        $(".change-devoured").on("click", function (event) {
            event.preventDefault();
            const id = $(this).data("id");
            var newDevoured = $(this).data("newDevoured");
            if (newDevoured = 0) {
                newDevoured = newDevoured + 1
            }
            else {
                newDevoured = newDevoured - 1
            }

            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newDevoured,
            }).then(() => {
                location.reload();
            });
        });

        $(".new-form").on("submit", (event) => {
            event.preventDefault();
            const newBurger = {
                name: $("#bg").val().trim(),
                devoured: $("[name=devoured]:checked").val(),
            };

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger,
            }).then(() => {
                location.reload();
            });
        });

    });


</script>

</html>